<!-- TODO: Add content to receipt page / perhaps a 'getting started' page -->

<% content_for :styletags do %>
    <%= stylesheet_link_tag 'payments', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :link_structure do %>
    <%= link_to 'HOME', root_path, class: 'active' %>
    <%= link_to 'HOW IT WORKS', about_path %>
<% end %>

<%= render 'partials/navbar' %>

<div id="receipt-header" class="content">
  <h2>
    Thanks! You're well on your way to becoming a BitCoin <%= params[:account_type] %>!
  </h2>
</div>