<% content_for :styletags do %>
    <%= stylesheet_link_tag 'select-theme-default', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'payments', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :jstags do %>
    <%= javascript_include_tag 'tether.min', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'select.min', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <%= javascript_include_tag 'payments', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :link_structure do %>
    <%= link_to 'HOME', root_path, class: 'active' %>
    <%= link_to 'HOW IT WORKS', about_path %>
<% end %>

<%= render 'partials/navbar' %>

<div class="content">
  <div class="center-form">
    <h2>Choose your path</h2>

    <div class="type-selection">
      <div id="master" class="master">
        <i class="fa fa-user-secret"></i>
        Master
      </div>
      <div class="split">OR</div>
      <div id="apprentice" class="apprentice">
        <i class="fa fa-user"></i>
        Apprentice
      </div>
    </div>

    <!-- TODO: Better wording - benefit/feature -->
    <div id="master-details">
      <h4>Become a BitCoin Ninja in no time</h4>
      <ul>
        <li>Access all walk-through guides and tutorials</li>
        <li>Live alerts and updates</li>
      </ul>
    </div>

    <div id="apprentice-details">
      <h4>Get started on your path to becoming adept in the ways of BitCoin</h4>
      <ul>
        <li>Access to an awesome range of quick-start guides</li>
        <li></li>
      </ul>
    </div>
  </div>

  <%= form_tag payments_path, id: 'payment-form' do %>
      <div class="blue-top">
        <h3>Payment<br>Details</h3>
        <span class="payment-errors"></span>
      </div>

      <div class="bottom-section">
        <div class="form-row">
          <label>
            <span>Card Number</span>
            <input type="text" size="20" data-stripe="number">
          </label>
        </div>

        <div class="form-row second-row">
          <label>
            <span>Expiry Date</span>
            <select class="month-select" data-stripe="exp-month">
              <option value="01" selected="selected">January</option>
              <option value="02">February</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </label>
          <label>
            <input id="year-input" type="text" size="4" data-stripe="exp-year" placeholder="Year">
          </label>
          <label>
            <span>CVC</span>
            <input type="text" size="4" data-stripe="cvc"/>
          </label>
        </div>
      </div>

      <button id="payment-submit" class="submit" type="submit">Submit Payment</button>
      <%= hidden_field_tag(:account_type, 'master') %>
  <% end %>
</div>