<% content_for :styletags do %>
    <%= stylesheet_link_tag 'guides', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<header>
  <nav>
    <div class="left">
      <%= link_to 'Home', root_path, class: 'active' %>
      <%= link_to 'How it Works', guide_path(:about) %>
    </div>
    <div class="right">
      <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, class: 'logout') %>
    </div>
  </nav>
</header>

<div class="guides">
  <% count = 0 %>
  <% @guides.in_groups_of(2) do |group| %>
      <% count += 1 %>
      <div class="column">
        <% group.each do |guide| %>
            <article>
              <% if (count % 2) != 0 %>
                  <%= image_tag guide.image %>
              <% end %>
              <div class="caption">
                <h1><%= link_to guide.title, guide_path(guide) %></h1>
                <%= render partial: 'meta', locals: {guide: guide} %>
                <%= markdown(guide.excerpt) %>
                <% if guide.has_more_text? %>
                    <%= link_to 'Read more', guide_path(guide), class: 'continue' %>
                <% end %>
              </div>
              <% if (count % 2) == 0 %>
                  <%= image_tag guide.image %>
              <% end %>
            </article>
        <% end %>
      </div>
  <% end %>
</div>