<% content_for :styletags do %>
    <%= stylesheet_link_tag 'guides', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<header>
  <nav>
    <div class="left">
      <%= link_to 'Home', root_path, class: 'active' %>
      <%= link_to 'How it Works', guide_path(:about) %>
    </div>
    <div class="right">
      <%= link_to('LOGOUT', destroy_user_session_path, :method => :delete, class: 'logout') %>
    </div>
  </nav>
</header>

<div class="guides">
  <% @guides.in_groups_of(2) do |group| %>
      <div class="column">
        <% group.each do |guide| %>
            <article>
              <%= image_tag guide.image %>
              <h1>
                <%= link_to guide.title, guide_path(guide) %>
              </h1>
              <%= render partial: 'meta', locals: {guide: guide} %>
              <%= markdown(guide.excerpt) %>
              <% if guide.has_more_text? %>
                  <p>
                    <%= link_to 'Read more', guide_path(guide), class: 'continue' %>
                  </p>
              <% end %>
            </article>
        <% end %>
      </div>
  <% end %>
</div>