<% content_for :styletags do %>
    <%= stylesheet_link_tag 'guides/show', media: 'all', 'data-turbolinks-track' => true %>
<% end %>

<header id="main-header"><%= image_tag @guide.image %></header>

<article>
  <h1>
    <%= @guide.title %>
  </h1>
  <%= render partial: 'meta', locals: { guide: @guide } %>
  <%= markdown(@guide.content) %>
  <hr/>
  <!-- TODO: Link back to relevant action -->
</article>
